.canvas-container {
    width: 100vw; /* Ancho completo de la ventana */
    height: 100vh; /* Alto completo de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
  }